<div class="basic-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Usuario" formControlName="username" required>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput type="password" placeholder="Senha" formControlName="password" required>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">Login</button>
    <a mat-raised-button routerLink="[/manager]">Register</a>
  </form>
</div>
