<h1>Cadastrar Jogador</h1>

<div class="well">
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="nome">Nome</label>
            <input type="text" class="form-control" name="nome" 
                id="nome" [(ngModel)]="player.name">
        </div>
        <div class="form-group">
            <label class="control-label" for="position">Posição</label>
            <input type="text" class="form-control" name="position" 
                id="position" [(ngModel)]="player.position">
        </div>            
        <div class="form-group">
            <label class="control-label" for="baseId">Base Id</label>
            <input type="number" class="form-control" name="baseId" 
                id="baseId" [(ngModel)]="player.baseId">
        </div>
        <div class="form-group">
            <label class="control-label" for="rating">Rating</label>
            <input type="number" class="form-control" name="rating" 
                id="rating" [(ngModel)]="player.rating">
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success" (click)="cadastrar()">
                Cadastrar
            </button>
			<a class="btn btn-default" [routerLink]="['/players']">
                Voltar
            </a>
        </div>
    </form>
</div>
