<md-card *ngIf="team" class="result">
    <md-card-title>Time</md-card-title>
    <div>
        <md-card-content>
            <div class="table-responsive">
                <table class="table table-condensed">
                    <tr>
                        <th>Nome</th>
                        <td><h4>{{ team?.name }}</h4></td>
                    </tr>
                    <tr>
                        <th>Técnico</th>
                        <td><h4>{{ team?.manager }}</h4></td>
                    </tr>
                    <tr>
                        <th>Coins</th>
                        <td><h4><span class="label label-warning">R$ {{ team?.budget }},00</span></h4></td>
                    </tr>
                </table>
            </div>
            <div *ngIf="team?.players" class="row">
                <md-card-title>Jogadores: {{team?.players.length}}</md-card-title>

                <md-card-content>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-center"><md-card-title>Nome</md-card-title></th>
                                    <th class="text-center"><md-card-title>Posição</md-card-title></th>
                                    <th class="text-center"><md-card-title>Rating</md-card-title></th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let player of team?.players">
                                    <td class="text-center">{{ player.name }}</td>
                                    <td class="text-center"><span class="label label-primary">{{ player.position}}</span></td>
                                    <td class="text-center"><span class="badge">{{ player.rating }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-card-content>
            </div>
        </md-card-content>
    </div>
</md-card>
<md-card *ngIf="!team" class="text-center">
    <a class="btn btn-danger"routerLink="/teams/cadastrar">Cadastrar Time</a>
</md-card>