<h1>Dar Lance</h1>




<div class="well">
    <form role="form">
        <div class="form-group">
            <label class="control-label" for="originalValue">Valor Inicial</label>
            <input type="number" class="form-control" name="name" 
                id="originalValue" [(ngModel)]="bidinfo.originalValue">
        </div>

        <div class="form-group">
            <label for="playerId">Jogador</label>
            <select class="form-control"  id="playerId"
                    required
                    [(ngModel)]="bidinfo.playerId" [ngModelOptions]="{standalone: false}" name="playerId">
                <option *ngFor="let player of players" [value]="player.id">{{player.name}}</option>
            </select>
        </div>
         <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="number" class="form-control" aria-label="Valor do Lance..."  [(ngModel)]="bidinfo.bidValue">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <div class="form-group">
            <label for="teamId">Time</label>
            <select class="form-control"  id="teamId"
                    required
                    [(ngModel)]="bidinfo.teamId" name="teamId" [ngModelOptions]="{standalone: false}">
                <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
            </select>
        </div>

        <div class="form-group text-center">
            <button class="btn btn-success" (click)="cadastrar()">
                Cadastrar
            </button>
			<a class="btn btn-default" [routerLink]="['/bidinfos']">
                Voltar
            </a>
        </div>
    </form>
</div>
