<div id="accordion">
  <mat-card class="real-card">
    <div [id]="getHeader()">
      <div class="row">
        <div class="col-md-6">
          <mat-card-header>
            <div mat-card-avatar [ngClass]="getRatingColor(player.rating)">{{ player.rating }}</div>
            <mat-card-title class="xuxuzinho">{{ player.name }}</mat-card-title>
            <mat-card-subtitle class="xuxuzinho">{{ player.clubName }}</mat-card-subtitle>
          </mat-card-header>
        </div>
        <div class="col-md-2 misc-cols">{{ player.position }}</div>
        <div class="col-md-2 misc-cols">$ {{ player.bid.nextValue }}</div>
        <div class="col-md-1 bts-cols">
          <button mat-icon-button (click)="feedback(player)" [disabled]="player.bid.team == team.id">
            <mat-icon>gavel</mat-icon>
          </button>
        </div>
        <div class="col-md-1 arrow-collapse bts-cols">
          <button mat-icon-button data-toggle="collapse" [attr.data-target]="getCollapseId()" aria-expanded="true"
            [attr.aria-controls]="getCollapse()">
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div [id]="getCollapse()" class="collapse" [attr.aria-labelledby]="getHeader()" data-parent="#accordion">
      <div class="card-body juca">
        <div class="row line-header">
          <div *ngFor="let att of player.attributes" class="col-md-1">
            <p class="head-col-attr">{{ att.name.toLowerCase() }}</p>
          </div>
          <div class="col-md-2">
            <p class="head-col-attr">wr</p>
          </div>
          <div class="col-md-2">
            <p class="head-col-attr">idade</p>
          </div>
          <div class="col-md-1">
            <p class="head-col-attr">peso</p>
          </div>
          <div class="col-md-1">
            <p class="head-col-attr">altura</p>
          </div>
        </div>

        <div class="row">
          <div *ngFor="let att of player.attributes" class="col-md-1">
            <p [ngClass]="getAttributeColor(att.value)">{{ att.value }}</p>
          </div>
          <div class="col-md-2">
            <p class="misc-info-line">{{ player.atkWorkRate.charAt(0) }}/{{ player.defWorkRate.charAt(0) }}</p>
          </div>
          <div class="col-md-2">
            <p class="misc-info-line">{{ player.age }}</p>
          </div>
          <div class="col-md-1">
            <p class="misc-info-line">{{ player.weight }}kg</p>
          </div>
          <div class="col-md-1">
            <p class="misc-info-line">{{ player.height / 100}}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>