<md-card class="result">
    <md-card-title>Lances: {{bidinfos?.length}}</md-card-title>
    <div>
        <md-card-content>
            <div *ngIf="bidinfos" class="row">
                <md-card-content>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <md-card-title>Jogador</md-card-title>
                                    </th>
                                    <th class="text-center">
                                        <md-card-title>Valor Lance</md-card-title>
                                    </th>
                                    <th class="text-center">
                                        <md-card-title>Valor Inicial</md-card-title>
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bidinfo of bidinfos">
                                    <td class="text-center">{{ bidinfo.playerName }}</td>
                                    <td class="text-center">{{ bidinfo.bidValue }}</td>
                                    <td class="text-center">{{ bidinfo.originalValue }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-card-content>
            </div>
        </md-card-content>
    </div>
</md-card>