<md-card class="result">
    <div class="row">
        <div class="col-md-10">
            <md-card-title>Jogadores: {{transfermarkets?.length}}</md-card-title>
        </div>
        <div class="col-md-2">
            <md-card-title routerLink="/transfermarkets/cadastrar" class="text-right"><span class="btn btn-primary">Voltar</span></md-card-title>
        </div>
    </div>
    <div>
        <md-spinner *ngIf="!transfermarkets"></md-spinner>
        <md-card-content>
            <div *ngIf="transfermarkets?.length > 0" class="row">
                <md-card-content>
                    <!--    <button class="btn btn-danger" (click)="closeMarket()">Fechar Mercado</button> -->
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        <md-card-subtitle>
                                            <md-input-container>
                                                <input mdInput placeholder="Jogador" [(ngModel)]="nameFilter" value="">
                                            </md-input-container>
                                        </md-card-subtitle>
                                    </th>
                                    <th class="text-center">
                                        <md-card-subtitle>
                                            <md-input-container>
                                                <input mdInput placeholder="Posição" [(ngModel)]="positionFilter" value="">
                                            </md-input-container>
                                        </md-card-subtitle>
                                    </th>
                                    <th class="text-center">
                                        <md-card-subtitle>
                                            <md-input-container>
                                                <input mdInput placeholder="Rating" [(ngModel)]="ratingFilter" value="">
                                            </md-input-container>
                                        </md-card-subtitle>
                                    </th>
                                    <th class="text-center">
                                        <md-card-subtitle>
                                            <md-input-container>
                                                <input mdInput placeholder="Lance" [(ngModel)]="bidValueFilter" value="">
                                            </md-input-container>
                                        </md-card-subtitle>
                                    </th>
                                    <th class="text-center">
                                        <md-card-subtitle>
                                            <md-input-container>
                                                <input mdInput placeholder="Lance Inicial" [(ngModel)]="originalValueFilter" value="">
                                            </md-input-container>
                                        </md-card-subtitle>
                                    </th>
                                    <th class="text-center">
                                        <md-card-subtitle>
                                            <md-select placeholder="Tem Lance" [(ngModel)]="hasBidFilter">
                                                <md-option [value]="true">Sim</md-option>
                                                <md-option [value]="false">Não</md-option>
                                            </md-select>
                                        </md-card-subtitle>

                                    </th>
                                    <th class="text-center">
                                        <md-card-subtitle>
                                            <md-select placeholder="Vencendo" [(ngModel)]="bidAprovedFilter">
                                                <md-option [value]="true">Sim</md-option>
                                                <md-option [value]="false">Não</md-option>
                                            </md-select>
                                        </md-card-subtitle>
                                    </th>
                                    <th class="text-center">
                                        <md-card-subtitle>
                                            Lance
                                        </md-card-subtitle>
                                    </th>
                                    <th class="">
                                        <button (click)="onRefresh()" type="button" rel="tooltip" title="Atualizar" class="btn btn-danger btn-simple btn-xs">
                                            <md-card-title><i class="fa fa-refresh"></i></md-card-title>    
                                        </button>

                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let transfermarket of transfermarkets | transferMarketNameFilter:nameFilter:positionFilter:ratingFilter:bidValueFilter:originalValueFilter:hasBidFilter:bidAprovedFilter | paginate: config ">
                                    <td class="text-center">{{transfermarket.name}}</td>
                                    <td class="text-center">{{transfermarket.position}}</td>
                                    <td class="text-center">{{transfermarket.rating}}</td>
                                    <td class="text-center">R$ {{transfermarket.bidValue}},00</td>
                                    <td class="text-center">R$ {{transfermarket.originalValue}},00</td>
                                    <td *ngIf="transfermarket.hasBid" class="text-center">Sim</td>
                                    <td *ngIf="!transfermarket.hasBid" class="text-center">Não</td>
                                    <td *ngIf="transfermarket.bidAproved" class="text-center">Sim</td>
                                    <td *ngIf="!transfermarket.bidAproved" class="text-center">Não</td>
                                    <td class="text-center"><button class="btn btn-success" (click)="onBid(transfermarket)">Dar Lance</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        <div class="has-text-centered">
                            <pagination-controls [id]="config.id" [directionLinks]="directionLinks" [autoHide]="autoHide" [previousLabel]="labels.previousLabel"
                                [nextLabel]="labels.nextLabel" [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                                [screenReaderPageLabel]="labels.screenReaderPageLabel" [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                                (pageChange)="onPageChange($event)"></pagination-controls>
                        </div>
                    </div>
                </md-card-content>
            </div>
        </md-card-content>
    </div>
</md-card>