<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Pofexô Manager</h1>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" [class.nompodeve]="!getLogado()">attach_money</mat-icon>
      <div [class.nompodeve]="!getLogado()">{{ getBudget() }}</div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" class="juquinha">
      <mat-nav-list>

          <mat-list-item>
            <div class="row">
              <div class="col-md-2">
                <mat-icon>home</mat-icon>
              </div>
              <div class="col-md-6">
                <a routerLink="/home">Home</a>
              </div>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="row">
              <div class="col-md-2">
                <mat-icon>school</mat-icon>
              </div>
              <div class="col-md-6">
                <a routerLink="/manager/view">Manager</a>
              </div>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="row">
              <div class="col-md-2">
                <mat-icon>group</mat-icon>
              </div>
              <div class="col-md-6">
                <a routerLink="/team">Team</a>
              </div>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="row">
              <div class="col-md-2">
                <mat-icon>assistant_photo</mat-icon>
              </div>
              <div class="col-md-6">
                <a routerLink="/leagues">Ligas</a>
              </div>
            </div>
          </mat-list-item>

          <mat-list-item>
            <div class="row">
              <div class="col-md-2">
                <mat-icon>local_grocery_store</mat-icon>
              </div>
              <div class="col-md-6">
                <a routerLink="/market/filter">Mercado</a>
              </div>
            </div>
          </mat-list-item>
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
