<h1>Visualizar Liga</h1>

<div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <td>{{ league.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
			<td>{{ league.name }}</td>
		</tr>
        <tr>
            <th>Abreviatura Nome</th>
            <td>{{ league.abbrName }}</td>
        </tr>
        <tr>
            <th>Imagem URL</th>
			<td>{{ league.imgUrl }}</td>
		</tr>
    </table>
	<div class="text-center">
		<a class="btn btn-default" [routerLink]="['/leagues']">
			Voltar
		</a>
	</div>
</div>
