<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Cadastrar Usuário</h4>
                    </div>
                    <div class="card-content">
                        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty" [ngClass]="{ 'has-error': f.submitted && !nome.valid }">
                                        <label class="control-label">Nome</label>
                                        <input type="text" class="form-control" name="nome" [(ngModel)]="model.nome" #nome="ngModel" required/>
                                        <div *ngIf="f.submitted && !nome.valid" class="help-block">É obrigatório informar o nome</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty" [ngClass]="{ 'has-error': f.submitted && !nome.valid }">
                                        <label class="control-label">Sobrenome</label>
                                        <input type="text" class="form-control" name="sobrenome" [(ngModel)]="model.sobrenome" #sobrenome="ngModel" required />
                                        <div *ngIf="f.submitted && !sobrenome.valid" class="help-block">É obrigatório informar o sobrenome</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty" [ngClass]="{ 'has-error': f.submitted && !nome.valid }">
                                        <label class="control-label">Email</label>
                                        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                                        <div *ngIf="f.submitted && !email.valid" class="help-block">É obrigatório informar o email</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black label-floating is-empty" [ngClass]="{ 'has-error': f.submitted && !login.valid }">
                                        <label class="control-label">Login</label>
                                        <input type="text" class="form-control" name="login" [(ngModel)]="model.login" #login="ngModel" required />
                                        <div *ngIf="f.submitted && !login.valid" class="help-block">É obrigatório informar um login</div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating is-empty" [ngClass]="{ 'has-error': f.submitted && !senha.valid }">
                                        <label class="control-label">Senha</label>
                                        <input type="password" class="form-control" name="senha" [(ngModel)]="model.senha" #senha="ngModel" required />
                                        <div *ngIf="f.submitted && !senha.valid" class="help-block">É obrigatório informar uma senha</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button  type="submit" [disabled]="loading" class="btn btn-primary">Registrar</button>
                                <md-spinner *ngIf="loading" ></md-spinner>                        
                                <a [routerLink]="['/login']" class="btn btn-link pull-right">Cancelar</a>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>