<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Filtrar Jogador</h4>
                    </div>
                    <div class="card-content">
                        <form name="form" (ngSubmit)="register()" #f="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <md-card class="result">
                                        <md-card-content>
                                            <h2 class="example-h2">Jogador</h2>
                                            <md-input-container>
                                                <input mdInput placeholder="Filtar por Nome" [mdAutocomplete]="auto" [formControl]="playerCtrl" [(ngModel)]="playerFilter.name">
                                            </md-input-container>
                                            <md-autocomplete #auto="mdAutocomplete">
                                                <md-option (input)="onInputPlayer(player.name)" *ngFor="let player of filteredPlayers | async" [value]="player.name">
                                                    {{player.name}}
                                                </md-option>
                                            </md-autocomplete>
                                        </md-card-content>
                                    </md-card>
                                </div>

                                <div class="col-md-6">
                                    <md-card class="result">
                                        <md-card-content>
                                            <h2 class="example-h2">Posição</h2>
                                            <md-input-container>
                                                <input mdInput placeholder="Filtar por posição" [mdAutocomplete]="position" [formControl]="positionsCtrl" [(ngModel)]="playerFilter.position">
                                            </md-input-container>

                                            <md-autocomplete #position="mdAutocomplete">
                                                <md-option *ngFor="let position of filteredPositions | async" [value]="position">
                                                    {{position}}
                                                </md-option>
                                            </md-autocomplete>
                                        </md-card-content>
                                    </md-card>
                                </div>
                            </div>
                            <div class="row">
                                <!--      <div class="col-md-4">
                                    <md-card class="result">
                                        <md-card-content>
                                            <h2 class="example-h2">Preço Inicial</h2>
                                            <md-slider (input)="onInputStartPrice($event)" class="example-margin" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
                                                [value]="defaultValue">
                                                </md-slider>
                                                {{playerFilter.startValue}}
                                        </md-card-content>
                                    </md-card>
                                </div>-->
                                <div class="col-md-6">
                                    <md-card class="result">
                                        <md-card-content>
                                            <h2 class="example-h2">Liga</h2>
                                            <md-input-container>
                                                <input mdInput placeholder="Filtar por Liga" [mdAutocomplete]="leagues" [formControl]="leaguesCtrl" [(ngModel)]="playerFilter.league">
                                            </md-input-container>
                                            <md-autocomplete #leagues="mdAutocomplete">
                                                <md-option *ngFor="let leagues of filteredLeagues | async" [value]="leagues.name">
                                                    {{leagues.name}}
                                                </md-option>
                                            </md-autocomplete>
                                        </md-card-content>
                                    </md-card>
                                </div>
                                <div class="col-md-6">
                                    <md-card class="result">
                                        <md-card-content>
                                            <h2 class="example-h2">Rating</h2>
                                            <md-slider (input)="onInputRating($event)" class="example-margin" [max]="99" [min]="0" [step]="1" [thumb-label]="thumbLabel"
                                                [value]="defaultValue">
                                                </md-slider>
                                                {{playerFilter.rating}}
                                        </md-card-content>
                                    </md-card>
                                </div>
                                <!--
                                <div class="col-md-4">
                                    <md-card class="result">
                                        <md-card-content>
                                            <h2 class="example-h2">Preço Final</h2>
                                            <md-slider (input)="onInputEndPrice($event)" class="example-margin" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
                                                [value]="defaultValue">
                                                </md-slider>
                                                {{playerFilter.endValue}}
                                        </md-card-content>
                                    </md-card>
                                </div> -->
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button md-raised-button (click)="onFilter(playerFilter)">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>