<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Filtrar Jogador</h4>
                    </div>
                    <div class="card-content">
                        <form name="form">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card">
                                        <div class="card-content">
                                            <div>
                                                <div class="form-group form-black label-floating is-empty">
                                                    <md-select placeholder="Filtar por Nome" [(ngModel)]="selectedValue" name="player">
                                                        <md-option *ngFor="let player of players" [value]="player.id">
                                                            {{player.name}}
                                                        </md-option>
                                                    </md-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Posição</label>
                                                <input type="text" class="form-control" name="position" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Preço Inicial</label>
                                                <input type="number" class="form-control" name="originalBidValue" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Liga</label>
                                                <input type="number" class="form-control" name="ligue" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>